@import "~bulma/sass/utilities/initial-variables"
// imports 
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

// Config vars

// Amarillo Tech Init Brand Colors
$white-ter: #CAC7CB
$blue: #495DA2
$blue-invert: $white-ter
$blue-darker: #231E55
$orange: #B86828
$purple: #6D4A9E
$brown: #392310

// primary colors  
$primary: $blue
$primary-invert: $blue-invert
$body-color: $white-ter

// Components
$content-heading-color: $white
$content-blockquote-background-color: $blue-darker
$footer-background-color: $blue-darker
$navbar-background-color: $blue-darker
$navbar-item-color: $white-ter
$navbar-item-hover-color: $white
$navbar-item-hover-background-color: $blue
$notification-background-color: $blue-darker


// typography
$font: 'Lato', sans-serif;
$weight-normal: 300;
$family-sans-serif: 'Lato', sans-serif;
$family-primary: $family-sans-serif
$label-color: $white-ter
$text: $white-ter
$text-invert: $blue
$text-strong: $white
$text-light: $white

// inputs
$input-color: $blue-darker
$input-background-color: $white
$input-border-color: $blue-darker
$input-radius: 2px

// links
$link: $blue
$link-invert: $white-ter
$link-hover: $blue-darker
$link-hover-border: $white-ter
$link-focus: $blue-darker
$link-focus-border: $white-ter
$link-active: $blue-darker
$link-active-border: $white-ter

// buttons
//$button-color: $white-ter
//$button-background-color: $blue-invert
//$button-border-color: $blue-invert
//$button-border-width: 2px
//$button-hover-color: $white-ter
//$button-hover-border-color: $white-ter
//$button-focus-color: $white-ter
//$button-focus-border-color: $white-ter

// Content
$content-blockquote-background-color: $blue-invert

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: $white-ter
.navbar-brand .navbar-item.logo
  padding: 0 1rem
.footer
  padding: 3rem 0rem 0rem

.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    background-color: transparent
    margin: .5em
    width: .75em
    height: .75em
    vertical-align: middle
    display: inline
.social img
    width: 3em 
    height: 3em


@import "~bulma"

// navbar overrides
.navbar-item img
  max-height: 3rem

.navbar-start a.navbar-item:hover, .navbar-start a.navbar-item:focus
  background: rgb(73,93,162)
  background: linear-gradient(0deg, rgba(73,93,162,1) 0%, rgba(35,30,85,1) 100%)
  color: $white

//body
//  background: rgb(73,93,162)
//  background: linear-gradient(0deg, rgba(73,93,162,1) 0%, rgba(35,30,85,1) 100%)

// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%;

+mobile
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center;
    max-width: 70%;
    margin: 0 0 1em;
